html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  img {
    max-width: 100%;
  }
  .slider-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
  }
  .menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
  }
  .menu label:hover,.menu label:focus {
    background: #1c87c9;
  }
  .slide-input{
    opacity: 0;
  }
  .button {
    opacity: 1;
    background: none;
    background-color: cornflowerblue;
    border: 2px solid;
    border-radius: 5px;
    font: inherit;
    margin: 2em;
    padding: 1em 2em;
    color: black;
}

.button:hover {
    animation: bounce 0.5s;
}

.combo {
    margin-top: 5em;
    background: none;
    background-color: cornflowerblue;
    padding: 0.3em 0.3em;
    border: 2px solid;
    border-radius: 5px;
    color: black;

}

table {
    border: 2px solid black !important;
    margin: -3em;
    padding: 1em 2em;
}

table:hover {
    animation: bounce 0.5s;
}

td,th {
    border: 2px solid black !important;
}

thead {
    background-color: cornflowerblue;
    color: #0f2027;
}

#hlink{
    color: crimson;
}


/*Keyframes*/

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
  .slide-img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
  }
  [id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
  }
  
  nav {
    position: center;

}

.imgAccueil {
    position: center;
    width: 100%;
}

.img-responsive {
    width: auto;
    height: 5em;
    font-size: .9em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -moz-border-radius:10px 0;
    -webkit-border-radius:10px 0;
    border-radius:10px 0;
}
.img-responsive:hover {
    transform:scale(1.1);
}

.navbar-brand {
    width: auto;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.navbar-brand:hover {
    transform:scale(1.1);
}

.navbar-toggler {
    width: auto;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.navbar-toggler:hover {
    transform:scale(1.1);
}



.img-responsive {
    width: auto;
    height: 5em;
    font-size: .9em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    -moz-border-radius:10px 0;
    -webkit-border-radius:10px 0;
    border-radius:10px 0;
}
.img-responsive:hover {
    transform:scale(1.1);
}

.navbar-brand {
    width: auto;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.navbar-brand:hover {
    transform:scale(1.1);
}

.navbar-toggler {
    width: auto;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.navbar-toggler:hover {
    transform:scale(1.1);
}

html{
    overflow-x: hidden !important;
}
body{
    z-index: 1;
}
.content{
    margin: 50vh 20vw 25vh auto;
}
.row{
    margin: auto 30%;
}

.mainImage{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

/* DETAIL MADELAINE */

.row_detail{
    width: 70%;
    height: 100%;
    align-items: center;
    margin: 250px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: black solid 1px;
    border-radius: 25px
    
    
    ;

}

.row_detail>div {
    width: 40%;
    margin: 25px;
}

.image_detail img{
    aspect-ratio: 1/1;
    border-radius: 25px;
}

/* Ajout moussa */
/*  */
.motAleatoire {
    font-size: 30px;
    font-weight: bold;

}

.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;


  }
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 0.2em 1em;
  }
  .menu label:hover,.menu label:focus {
    background: #1c87c9;
  }
